body{
    background-color:#3f826d;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
}
h1{
    display:inline;
    text-align: center;
    width: 800px;
    font-size: 40px;
    color: #e1e6e1;
}
h2{
    display:inline;
    text-align: center;
    width: 500px;
    font-size: 150px;
    color:#e1e6e1;
}
h3{
    display:inline;
    text-align:center;
    width:500px;
    font-size: 30px;
    color:#e1e6e1;
}
h4{
    display:inline;
    text-align:center;
    width:500px;
    font-size: 20px;
    color:#e1e6e1;
}

.add{
    padding:10px 15px;
}

button{
    background-color: #e2725b;
    border: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    font-size: 16px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    transition-duration: 0.4s;
    border-radius: 8px;
}

button:hover{
    background-color: #e1e6e1;
    color: #e2725b;
}